body {
  font-size: 0.7em;
}

td {
  padding: 2px 8px;
  border: solid 1px lightgray;
  height: 18px;
}

.topCsvDom {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.csvTable {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.csvTable td {
  overflow: visible;
  text-overflow: visible;
  white-space: nowrap;
  max-width: 0;
  padding: 2px 8px;
  border: solid 1px lightgray;
  height: 18px;
}

th.fileNameBG {
  background-color: #d5f0ff;
  z-index: 2;
}

th.caseNameBG {
  background-color: #def9de;
  z-index: 2;
}

td.screenBG {
  background-color: #fff6dc;
}

thead th.top {
  position: sticky;
  top: 0;
}

thead th.second {
  position: sticky;
  top: 0;
}

thead th.second.fileNameBG {
  z-index: 1;
}

thead th.second.caseNameBG {
  z-index: 3;
}

.csvTable th {
  border: solid 1px lightgray;
}

.topCsvDom th {
  border: solid 1px lightgray;
}

.pageTitle {
  margin: 0px;
  padding: 0 8px 4px;
}

button.testButton {
  border-radius: 3px;
  border: none;
  padding: 0.5em 2.2em;
  outline: none;
  cursor: pointer;
  appearance: none;
  font-size: 0.7em;
  font-weight: 700;
}
